{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete the Words - House</title>
    <link rel="stylesheet" href="{% static 'css/stl4.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h2>Complete the words</h2>
        <ul class="styled-list">
            <li>Living Room</li>
            <li>Dining Room</li>
            <li>Bathroom</li>
            <li>Kitchen</li>
            <li>Bedroom</li>
            
        </ul>
        
        <p>In the <input type="text" id="s1"> we prepare delicious meals.</p>
        <p>In the <input type="text" id="s2"> we brush our teeth and take baths.</p>
        <p>In the <input type="text" id="s3"> we play and watch TV.</p>
        <p>In the <input type="text" id="s4"> we sleep and dream.</p>
        <p>In the <input type="text" id="s5"> we eat with the whole family.</p>
        
        <button onclick="checkAnswers()">Check Answers</button>
        <p id="resultselect"></p>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
